apiVersion: v1
kind: Namespace
metadata:
  name: deployment
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deploy
  namespace: deployment  # <--- Konsisten
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: docker.io/diwamln/fastapi-frontend:latest
        ports:
        - containerPort: 80
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: fastapi-frontend
  namespace: deployment  # <--- PERBAIKAN: Harus sama dengan Deployment
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080
