apiVersion: v1
kind: Namespace
metadata:
  name: fast-app
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deploy
  namespace: fast-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        # Jenkins akan mengganti tag 'latest' ini secara otomatis nanti
        image: docker.io/diwamln/fastapi-frontend:latest
        ports:
        - containerPort: 80
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: testing
spec:
  type: NodePort # Atau LoadBalancer jika pakai Cloud
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080 # Port akses dari browser (bisa diubah)
